a {
  outline: 0px;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.all-caps {
  text-transform: uppercase;
}

.show {
  display: block;
  visibility: visible;
}

.hide {
  display: none;
  visibility: hidden;
}

.accessible-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  A {
    &:link, &:visited, &:hover, &:active, &:focus {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0;
      border: 0;
      height: 1px;
      width: 1px;
      overflow: hidden;
    }
  }
}
